# Dependencies
node_modules

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Logs
*.log

# Test coverage
coverage

# Test coverage
coverage

# Generated API docs
_extras/api-docs/swagger-output.json

# Drizzle migrations
drizzle